// Text, password, textarea
.field-error-msg
  color: color(danger)
  margin-top: 0.3rem
  margin-left: 0.3rem
  @extend %removeUserSelect

.field
  width: 100%
  box-sizing: border-box
  border: none
  font-family: font(regular)

  &_select
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background-image: url-to('img/dropdown-open.png')
    background-repeat: no-repeat
    background-position: 98% center
    cursor: pointer

    &::-ms-expand
      display: none

  &_textarea
    resize: none
    height: 200px

  &_rounded
    border-radius: 20px

  &_label
    margin-bottom: 0.6rem
    display: block

  &_dark-rounded
    color: color(secondary)
    background-color: color(muted)
    padding: 0.85rem 1rem
    border-radius: 20px

    &:focus
      color: color(alternative)

  &_secondary
    padding: 1rem
    background-color: color(secondary-dark)
    color: color(alternative)

    &:focus
      background-color: color(muted)

  &_secondary-stable
    &:focus
      background-color: color(secondary-dark)

  &_secondary-disabled
    color: color(secondary)

  &_muted-light
    padding: 1rem
    background-color: color(muted-light)
    color: color(alternative)


  &_error
    border: 2px solid color(danger)

@import inputs-responsivity
